.reveal section {
  font-size: 0.67em;
}

.slide-title h1 {
  font-size: 20vw;       
  text-align: center;    
  margin-top: 0%;       
}

.slide-title2 h2 {
  font-size: 2.5em;       
}

.slide-title3 h3 {
  font-size: 2.5em;       
}